<div class="post-feature-navigation">
  <div class="post-feature-prev">
    <span class="icon is-medium fa-lg">
      <i class="fas fa-chevron-left"></i>
    </span>
  </div>
  <div class="post-feature-next">
    <span class="icon is-medium fa-lg">
      <i class="fas fa-chevron-right"></i>
    </span>
  </div>
</div>
